<div class="background-layer" aria-hidden="true">
  <div class="board-ribbon">
    <span class="ribbon-text">iForte First Half Recap </span>
  </div>

  <div class="balloon balloon-left balloon-1"></div>
  <div class="balloon balloon-left balloon-2"></div>
  <div class="balloon balloon-right balloon-3"></div>
  <div class="balloon balloon-right balloon-4"></div>

  <div class="party-popper popper-left">🎉</div>
  <div class="party-popper popper-right">🎊</div>

  <div
    class="employee-photo-item"
    *ngFor="let employee of backgroundPersonImages; let i = index"
    [ngStyle]="getEmployeePhotoStyle(i)"
  >
    <span class="photo-tape"> {{ employee.description }} </span>
    <img [src]="employee.src" [alt]="employee.description || 'Employee photo'" />
  </div>
</div>
